[submodule "grimoire"]
	path = grimoire
	url = https://github.com/Enalye/grimoire
[submodule "farfadet"]
	path = farfadet
	url = https://github.com/Enalye/farfadet
[submodule "minuit"]
	path = minuit
	url = https://github.com/Enalye/minuit.git
